{% extends 'netstore/_Master.html' %}

{% block main_content%}
{% load static%}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'netstore/assets/img/intro.jpg' %}"  alt="intro" />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Thông minh</span>
                        <span class="section-heading-lower">An toàn</span>
                    </h2>
                    <p class="mb-3">Đó là tách nhiệm hàng đầu của chúng tôi </p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Hãy đến xem chúng tôi!!!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Quyền lợi của khách hàng</span>
                            <span class="section-heading-lower">Trách nhiệm của chúng tôi</span>
                        </h2>
                        <p class="mb-0">Thực hiện hết hình hoàn thành công việc nhanh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% endblock%}